extends base
//- mixin파일 불러오기
include mixins/video

block content
  each potato in videos
    //- 불러올 mixin이름이 video. mixin불러올때 앞에 +붙이기. video mixin에 potato를 보냄
    +video(potato)
  else
    p Sorry nothing found.